.text-center { text-align: center; }
md-card { width: 300px; }
.cropArea {height:300px; width: 400px;}
img-crop canvas {
	display: block;
    position: absolute;
    top: 47%;
    left: 50%;
    outline: 0;
}
.text-content {
    background-color: #efefef;
    padding: 10px;
    margin: 8px;
}

.text-content p {
    margin: 0;
}