<!DOCTYPE html>
<html ng-app="ngUpCropApp">
<head>
	<title>ngUpCrop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="bower_components/ng-img-crop/compile/minified/ng-img-crop.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-cloak ng-controller="ngUpCropCtrl as vm">
	<md-toolbar>
		<h3 class="md-title text-center">Select file and upload</h3>
	</md-toolbar>
	<md-content class="md-padding" layout-xs="column" layout="row">
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<img ng-src="{{vm.fileSelected ? croppedDataUrl:'images/no-image-available.jpg'}}" class="md-card-image" alt="no-image-available">
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-model="vm.demo.image" ngf-select="vm.fileSelected=true;vm.onFileSelect($file, $event, true)" class="md-raised md-primary">Select</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</md-content>

	<!-- Hidden md-dialog -->
	<div style="visibility: hidden">
	    <div class="md-dialog-container" id="imageDialog">
	      	<md-dialog aria-label="Image dialog">
	      		<md-toolbar class="height50">
	  		      <div class="md-toolbar-tools height50">
	  		        <h2>Crop image</h2>
	  		        <span flex></span>
	  		        <md-button class="md-icon-button" ng-click="vm.closeImageDialog()">
	  		          <md-icon aria-label="Close dialog">close</md-icon>
	  		        </md-button>
	  		      </div>
	  		    </md-toolbar>
	  		    <md-dialog-content layout-padding>
	  		    	<div >
			        	<div class="cropArea">
			        		<img-crop image="vm.demo.image | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"> </img-crop>
			        	</div>
			        </div>
	        	</md-dialog-content>
	        	<md-dialog-actions layout="row" layout-align="space-between center">
					<md-button ng-model="vm.demo.image" ngf-select="vm.fileSelected=true;vm.onFileSelect($file, $event, false)" class="md-raised">Select</md-button>
				    <md-button ng-click="vm.uploadFile(croppedDataUrl, vm.setting.image)" class="md-raised md-primary">Upload</md-button>
				</md-dialog-actions>
	      	</md-dialog>
	    </div>
	 </div>

	<!-- Required Javascript files -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/angular-material/angular-material.min.js"></script>

	<!-- for no html5 browsers support -->
	<script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>

	<script src="js/app.js"></script>
</body>
</html>